.el {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
 }

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Specific colors */
.red { 
    background-color: red; width: 25%; 
    justify-content: center;
}
.blue { background-color: blue; width: 25%; }
.green { background-color: green; width: 25%; }
.yellow { background-color: yellow; color: black; width: 25%; }
.purple { background-color: purple; width: 100%; }
.orange { background-color: orange; color: black; width: 25%; }
.cyan { background-color: cyan; color: black; width: 25%; }
.black { background-color: black; width: 25%; }
.ginge { background-color: #FF8C00; width: 25%; } /* Dark orange */

.functionement {
    display: flex;
    justify-content: center;
}

.foto{
    width: 25%;
}

img{
    width: 100%;
}